
.row{
    background-color: black;

}

.row > h1{
    color: red;
    font-weight: bolder;
     /* opacity: 0.4; */
    font-size: 2.5rem;
    padding-left: 10px;
    padding-top: 10px;

}
.row_posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    cursor: pointer;
}
.row_poster{
    height: 100px;
    object-fit: contain;
    padding: 0 5px;
    transition: transform 0.5s;
}
.row_poster:hover{
    transform: scale(1.2);
}
.rowPoster_large{
    height: 250px!important;
}


::-webkit-scrollbar{
    height: 5px;
    width: 3px;
  background-color: black;
  }
  
  ::-webkit-scrollbar-thumb{
    background:  linear-gradient(0deg, rgb(255, 232, 232) 0%, rgba(7, 0, 211, 1) 100%);
    border-radius: 10px;
  }
  